@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 a {
  color: red;
}

/*
Container + Row
*/
.l-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
  width: 100%;
}

.l-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.l-col {
  box-sizing: border-box;
  flex-grow: 0;
  width: 8.3333333333%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

/*
 Grid - Responsive sizes
*/
.l-col-1 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 8.3333333333%;
}

.l-col-2 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 16.6666666667%;
}

.l-col-3 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 25%;
}

.l-col-4 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 33.3333333333%;
}

.l-col-5 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 41.6666666667%;
}

.l-col-6 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.l-col-7 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 58.3333333333%;
}

.l-col-8 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 66.6666666667%;
}

.l-col-9 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 75%;
}

.l-col-10 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 83.3333333333%;
}

.l-col-11 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 91.6666666667%;
}

.l-col-12 {
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

.l-col-offset-1 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 8.3333333333%;
}

.l-col-offset-2 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 16.6666666667%;
}

.l-col-offset-3 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 25%;
}

.l-col-offset-4 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 33.3333333333%;
}

.l-col-offset-5 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 41.6666666667%;
}

.l-col-offset-6 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 50%;
}

.l-col-offset-7 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 58.3333333333%;
}

.l-col-offset-8 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 66.6666666667%;
}

.l-col-offset-9 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 75%;
}

.l-col-offset-10 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 83.3333333333%;
}

.l-col-offset-11 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 91.6666666667%;
}

.l-col-offset-12 {
  box-sizing: border-box;
  flex-grow: 0;
  margin-left: 100%;
}

@media (min-width: 0px) {
  .l-col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .l-col-offset-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 8.3333333333%;
  }
  .l-col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .l-col-offset-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 16.6666666667%;
  }
  .l-col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .l-col-offset-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 25%;
  }
  .l-col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .l-col-offset-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 33.3333333333%;
  }
  .l-col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .l-col-offset-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 41.6666666667%;
  }
  .l-col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .l-col-offset-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 50%;
  }
  .l-col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .l-col-offset-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 58.3333333333%;
  }
  .l-col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .l-col-offset-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 66.6666666667%;
  }
  .l-col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .l-col-offset-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 75%;
  }
  .l-col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .l-col-offset-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 83.3333333333%;
  }
  .l-col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .l-col-offset-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 91.6666666667%;
  }
  .l-col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
  .l-col-offset-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 100%;
  }
}
@media (min-width: 480px) {
  .l-col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .l-col-offset-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 8.3333333333%;
  }
  .l-col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .l-col-offset-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 16.6666666667%;
  }
  .l-col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .l-col-offset-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 25%;
  }
  .l-col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .l-col-offset-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 33.3333333333%;
  }
  .l-col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .l-col-offset-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 41.6666666667%;
  }
  .l-col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .l-col-offset-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 50%;
  }
  .l-col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .l-col-offset-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 58.3333333333%;
  }
  .l-col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .l-col-offset-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 66.6666666667%;
  }
  .l-col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .l-col-offset-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 75%;
  }
  .l-col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .l-col-offset-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 83.3333333333%;
  }
  .l-col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .l-col-offset-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 91.6666666667%;
  }
  .l-col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
  .l-col-offset-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .l-col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .l-col-offset-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 8.3333333333%;
  }
  .l-col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .l-col-offset-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 16.6666666667%;
  }
  .l-col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .l-col-offset-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 25%;
  }
  .l-col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .l-col-offset-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 33.3333333333%;
  }
  .l-col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .l-col-offset-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 41.6666666667%;
  }
  .l-col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .l-col-offset-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 50%;
  }
  .l-col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .l-col-offset-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 58.3333333333%;
  }
  .l-col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .l-col-offset-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 66.6666666667%;
  }
  .l-col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .l-col-offset-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 75%;
  }
  .l-col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .l-col-offset-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 83.3333333333%;
  }
  .l-col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .l-col-offset-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 91.6666666667%;
  }
  .l-col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
  .l-col-offset-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .l-col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .l-col-offset-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 8.3333333333%;
  }
  .l-col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .l-col-offset-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 16.6666666667%;
  }
  .l-col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .l-col-offset-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 25%;
  }
  .l-col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .l-col-offset-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 33.3333333333%;
  }
  .l-col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .l-col-offset-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 41.6666666667%;
  }
  .l-col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .l-col-offset-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 50%;
  }
  .l-col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .l-col-offset-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 58.3333333333%;
  }
  .l-col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .l-col-offset-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 66.6666666667%;
  }
  .l-col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .l-col-offset-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 75%;
  }
  .l-col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .l-col-offset-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 83.3333333333%;
  }
  .l-col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .l-col-offset-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 91.6666666667%;
  }
  .l-col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
  .l-col-offset-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .l-col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .l-col-offset-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 8.3333333333%;
  }
  .l-col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .l-col-offset-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 16.6666666667%;
  }
  .l-col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .l-col-offset-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 25%;
  }
  .l-col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .l-col-offset-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 33.3333333333%;
  }
  .l-col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .l-col-offset-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 41.6666666667%;
  }
  .l-col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .l-col-offset-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 50%;
  }
  .l-col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .l-col-offset-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 58.3333333333%;
  }
  .l-col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .l-col-offset-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 66.6666666667%;
  }
  .l-col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .l-col-offset-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 75%;
  }
  .l-col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .l-col-offset-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 83.3333333333%;
  }
  .l-col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .l-col-offset-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 91.6666666667%;
  }
  .l-col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
  .l-col-offset-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 100%;
  }
}
@media (min-width: 1400px) {
  .l-col-1-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .l-col-offset-1-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 8.3333333333%;
  }
  .l-col-2-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .l-col-offset-2-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 16.6666666667%;
  }
  .l-col-3-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .l-col-offset-3-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 25%;
  }
  .l-col-4-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .l-col-offset-4-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 33.3333333333%;
  }
  .l-col-5-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .l-col-offset-5-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 41.6666666667%;
  }
  .l-col-6-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .l-col-offset-6-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 50%;
  }
  .l-col-7-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .l-col-offset-7-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 58.3333333333%;
  }
  .l-col-8-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .l-col-offset-8-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 66.6666666667%;
  }
  .l-col-9-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .l-col-offset-9-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 75%;
  }
  .l-col-10-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .l-col-offset-10-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 83.3333333333%;
  }
  .l-col-11-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .l-col-offset-11-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 91.6666666667%;
  }
  .l-col-12-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
  .l-col-offset-12-xxl {
    box-sizing: border-box;
    flex-grow: 0;
    margin-left: 100%;
  }
}
.bg__white {
  background-color: #FFFFFF;
}
.bg__black {
  background-color: #000;
}
.bg__red {
  background-color: #a20000;
}
.bg__blue {
  background-color: #243aff;
}
.bg__grey {
  background-color: #5e5e5e;
}
.bg__pink {
  background-color: #f176ff;
}
.bg__green {
  background-color: #007a02;
}

.c_button {
  border-radius: 3rem;
  border: none;
  height: 4em;
}
.c_button * {
  font-weight: 300;
}
.c_button__lg {
  width: 10rem;
  padding: 1rem;
}
.c_button__md {
  width: 8rem;
  padding: 0.75rem;
}
.c_button__sm {
  width: 6rem;
  padding: 0.5rem;
}
.c_button__white {
  background-color: #FFFFFF;
}
.c_button__white:hover {
  background-color: white;
}
.c_button__black {
  background-color: #000;
}
.c_button__black:hover {
  background-color: black;
}
.c_button__red {
  background-color: #a20000;
}
.c_button__red:hover {
  background-color: #00a2a2;
}
.c_button__blue {
  background-color: #243aff;
}
.c_button__blue:hover {
  background-color: #ffe924;
}
.c_button__grey {
  background-color: #5e5e5e;
}
.c_button__grey:hover {
  background-color: #5e5e5e;
}
.c_button__green {
  background-color: #007a02;
}
.c_button__green:hover {
  background-color: #7a0078;
}

.c_button_gp {
  border-radius: 0.625rem;
  display: flex;
  border: 0px;
  border-style: solid;
  border-color: transparent;
  text-align: center;
}
.c_button_gp__lg {
  padding: 0.75rem;
}
.c_button_gp__md {
  padding: 0.5rem;
}
.c_button_gp__sm {
  padding: 0.25rem;
}
.c_button_gp-leading {
  border: 1px solid #6B7280;
  border-radius: 10px 0px 0px 10px;
}
.c_button_gp-middle {
  border-top: 1px solid #6B7280;
  border-bottom: 1px solid #6B7280;
  border-right: 1px solid #6B7280;
}
.c_button_gp-middle-no-edges {
  border-top: 1px solid #6B7280;
  border-bottom: 1px solid #6B7280;
  border-left: none;
  border-right: none;
}
.c_button_gp-trailing {
  border: 1px solid #6B7280;
  border-radius: 0px 10px 10px 0px;
}

.c-bdg {
  display: inline-block;
  border-radius: 0.5rem;
}
.c-bdg__lg {
  width: 10rem;
  padding: 1rem;
}
.c-bdg__md {
  width: 8rem;
  padding: 0.75rem;
}
.c-bdg__sm {
  width: 6rem;
  padding: 0.5rem;
}
.c-bdg__white {
  background-color: #FFFFFF;
}
.c-bdg__black {
  background-color: #000;
}
.c-bdg__red {
  background-color: #a20000;
}
.c-bdg__blue {
  background-color: #243aff;
}
.c-bdg__grey {
  background-color: #5e5e5e;
}
.c-bdg__pink {
  background-color: #f176ff;
}

.c-pagination {
  width: 36px;
  height: 36px;
}
.c-pagination-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 36px;
}
.c-pagination-item {
  margin-top: auto;
  margin-bottom: auto;
}
.c-pagination-non-active {
  color: #374151;
}
.c-pagination-active {
  background: #EEF2FF;
  border-radius: 6px;
  padding: 8px 14px;
}

.c-prg {
  background: black;
  border-radius: 100px;
  margin-top: 10px;
  border: 0.25rem solid black;
}
.c-prg-bar-10 {
  border-radius: 60px;
  width: 10%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-20 {
  border-radius: 60px;
  width: 20%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-30 {
  border-radius: 60px;
  width: 30%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-40 {
  border-radius: 60px;
  width: 40%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-50 {
  border-radius: 60px;
  width: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-60 {
  border-radius: 60px;
  width: 60%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-70 {
  border-radius: 60px;
  width: 70%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-80 {
  border-radius: 60px;
  width: 80%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-90 {
  border-radius: 60px;
  width: 90%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}
.c-prg-bar-100 {
  border-radius: 60px;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(179, 179, 179) 50%, rgb(136, 136, 136) 100%);
  text-align: center;
  font-weight: bold;
}

/*
Need to create class for hide and display classes for sm -> xxl


//display none


/display block
*/
@media (min-width: 0px) {
  .xs-hidden {
    display: none;
  }
  .xs-block {
    display: block;
  }
}
@media (min-width: 480px) {
  .sm-hidden {
    display: none;
  }
  .sm-block {
    display: block;
  }
}
@media (min-width: 768px) {
  .md-hidden {
    display: none;
  }
  .md-block {
    display: block;
  }
}
@media (min-width: 992px) {
  .lg-hidden {
    display: none;
  }
  .lg-block {
    display: block;
  }
}
@media (min-width: 1200px) {
  .xl-hidden {
    display: none;
  }
  .xl-block {
    display: block;
  }
}
@media (min-width: 1400px) {
  .xxl-hidden {
    display: none;
  }
  .xxl-block {
    display: block;
  }
}
.c-tooltip {
  color: #fff;
}

[tooltip] {
  margin: 20px;
  position: relative;
}

[tooltip]::before {
  content: "";
  position: absolute;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}
[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  min-width: 80px;
  background-color: black;
  color: white;
  padding: 4px 2px;
  text-align: center;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

[tooltip-position=top]::before {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
[tooltip-position=top]::after {
  top: -10px;
  left: 50%;
  min-width: 80px;
  transform: translateX(-50%) translateY(-100%);
}

[tooltip-position=left]::before {
  left: -20%;
  top: 50%;
  transform: translatey(-50%) rotate(-90deg);
}
[tooltip-position=left]::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}

[tooltip-position=right]::before {
  left: 120%;
  top: 50%;
  transform: translatey(-50%) rotate(90deg);
}

[tooltip-position=bottom]::before {
  left: 50%;
  top: 150%;
  transform: translate(-50%) rotate(179deg);
}

[tooltip-position=right]::after {
  left: 260%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}

[tooltip-position=bottom]::after {
  left: 125%;
  top: 285%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

.h1 {
  font-size: 64px;
  line-height: 60px;
  letter-spacing: 2%;
}

.h2 {
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 2%;
}

.h3 {
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 2%;
}

.h4 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 2%;
}

.h5 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2%;
}

.h6 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2%;
}

.f-p_xxl {
  font-size: 24px;
  line-height: 34px;
}

.f-p_xl {
  font-size: 22px;
  line-height: 32px;
}

.f-p_xl {
  font-size: 20px;
  line-height: 28px;
}

.f-p_md {
  font-size: 18px;
  line-height: 28px;
}

.f-p_sm {
  font-size: 14px;
  line-height: 20px;
}

.f-p_xs {
  font-size: 12px;
  line-height: 20px;
}

.colour_white {
  color: #FFFFFF;
}
.colour_black {
  color: #000;
}
.colour_red {
  color: #a20000;
}
.colour_blue {
  color: #243aff;
}
.colour_grey {
  color: #5e5e5e;
}

.u-py-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.u-py-2 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.u-py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.u-py-4 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.u-py-5 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.u-py-6 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.u-py-7 {
  padding-top: 112px;
  padding-bottom: 112px;
}

.u-py-8 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.u-py-9 {
  padding-top: 144px;
  padding-bottom: 144px;
}

.u-py-10 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.u-px-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-px-2 {
  padding-left: 32px;
  padding-right: 32px;
}

.u-px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.u-px-4 {
  padding-left: 64px;
  padding-right: 64px;
}

.u-px-5 {
  padding-left: 80px;
  padding-right: 80px;
}

.u-px-6 {
  padding-left: 96px;
  padding-right: 96px;
}

.u-px-7 {
  padding-left: 112px;
  padding-right: 112px;
}

.u-px-8 {
  padding-left: 128px;
  padding-right: 128px;
}

.u-px-9 {
  padding-left: 144px;
  padding-right: 144px;
}

.u-px-10 {
  padding-left: 160px;
  padding-right: 160px;
}

.u-my-1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-my-2 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.u-my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.u-my-4 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.u-my-5 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.u-my-6 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.u-my-7 {
  margin-top: 112px;
  margin-bottom: 112px;
}

.u-my-8 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.u-my-9 {
  margin-top: 144px;
  margin-bottom: 144px;
}

.u-my-10 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.u-mx-1 {
  margin-left: 16px;
  margin-right: 16px;
}

.u-mx-2 {
  margin-left: 32px;
  margin-right: 32px;
}

.u-mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.u-mx-4 {
  margin-left: 64px;
  margin-right: 64px;
}

.u-mx-5 {
  margin-left: 80px;
  margin-right: 80px;
}

.u-mx-6 {
  margin-left: 96px;
  margin-right: 96px;
}

.u-mx-7 {
  margin-left: 112px;
  margin-right: 112px;
}

.u-mx-8 {
  margin-left: 128px;
  margin-right: 128px;
}

.u-mx-9 {
  margin-left: 144px;
  margin-right: 144px;
}

.u-mx-10 {
  margin-left: 160px;
  margin-right: 160px;
}

.u-p-0 {
  padding: 0px;
}

.u-p-1 {
  padding: 16px;
}

.u-p-2 {
  padding: 32px;
}

.u-p-3 {
  padding: 48px;
}

.u-p-4 {
  padding: 64px;
}

.u-p-5 {
  padding: 80px;
}

.u-p-6 {
  padding: 96px;
}

.u-p-7 {
  padding: 112px;
}

.u-p-8 {
  padding: 128px;
}

.u-p-9 {
  padding: 144px;
}

.u-p-10 {
  padding: 160px;
}

.u-pt-0 {
  padding-top: 0px;
}

.u-pt-1 {
  padding-top: 16px;
}

.u-pt-2 {
  padding-top: 32px;
}

.u-pt-3 {
  padding-top: 48px;
}

.u-pt-4 {
  padding-top: 64px;
}

.u-pt-5 {
  padding-top: 80px;
}

.u-pt-6 {
  padding-top: 96px;
}

.u-pt-7 {
  padding-top: 112px;
}

.u-pt-8 {
  padding-top: 128px;
}

.u-pt-9 {
  padding-top: 144px;
}

.u-pt-10 {
  padding-top: 160px;
}

.u-pb-0 {
  padding-bottom: 0px;
}

.u-pb-1 {
  padding-bottom: 16px;
}

.u-pb-2 {
  padding-bottom: 32px;
}

.u-pb-3 {
  padding-bottom: 48px;
}

.u-pb-4 {
  padding-bottom: 64px;
}

.u-pb-5 {
  padding-bottom: 80px;
}

.u-pb-6 {
  padding-bottom: 96px;
}

.u-pb-7 {
  padding-bottom: 112px;
}

.u-pb-8 {
  padding-bottom: 128px;
}

.u-pb-9 {
  padding-bottom: 144px;
}

.u-pb-10 {
  padding-bottom: 160px;
}

.u-pl-0 {
  padding-left: 0px;
}

.u-pl-1 {
  padding-left: 16px;
}

.u-pl-2 {
  padding-left: 32px;
}

.u-pl-3 {
  padding-left: 48px;
}

.u-pl-4 {
  padding-left: 64px;
}

.u-pl-5 {
  padding-left: 80px;
}

.u-pl-6 {
  padding-left: 96px;
}

.u-pl-7 {
  padding-left: 112px;
}

.u-pl-8 {
  padding-left: 128px;
}

.u-pl-9 {
  padding-left: 144px;
}

.u-pl-10 {
  padding-left: 160px;
}

.u-pr-0 {
  padding-right: 0px;
}

.u-pr-1 {
  padding-right: 16px;
}

.u-pr-2 {
  padding-right: 32px;
}

.u-pr-3 {
  padding-right: 48px;
}

.u-pr-4 {
  padding-right: 64px;
}

.u-pr-5 {
  padding-right: 80px;
}

.u-pr-6 {
  padding-right: 96px;
}

.u-pr-7 {
  padding-right: 112px;
}

.u-pr-8 {
  padding-right: 128px;
}

.u-pr-9 {
  padding-right: 144px;
}

.u-pr-10 {
  padding-right: 160px;
}

.u-m-0 {
  margin: 0px;
}

.u-m-1 {
  margin: 16px;
}

.u-m-2 {
  margin: 32px;
}

.u-m-3 {
  margin: 48px;
}

.u-m-4 {
  margin: 64px;
}

.u-m-5 {
  margin: 80px;
}

.u-m-6 {
  margin: 96px;
}

.u-m-7 {
  margin: 112px;
}

.u-m-8 {
  margin: 128px;
}

.u-m-9 {
  margin: 144px;
}

.u-m-10 {
  margin: 160px;
}

.u-mt-0 {
  margin-top: 0px;
}

.u-mt-1 {
  margin-top: 16px;
}

.u-mt-2 {
  margin-top: 32px;
}

.u-mt-3 {
  margin-top: 48px;
}

.u-mt-4 {
  margin-top: 64px;
}

.u-mt-5 {
  margin-top: 80px;
}

.u-mt-6 {
  margin-top: 96px;
}

.u-mt-7 {
  margin-top: 112px;
}

.u-mt-8 {
  margin-top: 128px;
}

.u-mt-9 {
  margin-top: 144px;
}

.u-mt-10 {
  margin-top: 160px;
}

.u-mb-0 {
  margin-bottom: 0px;
}

.u-mb-1 {
  margin-bottom: 16px;
}

.u-mb-2 {
  margin-bottom: 32px;
}

.u-mb-3 {
  margin-bottom: 48px;
}

.u-mb-4 {
  margin-bottom: 64px;
}

.u-mb-5 {
  margin-bottom: 80px;
}

.u-mb-6 {
  margin-bottom: 96px;
}

.u-mb-7 {
  margin-bottom: 112px;
}

.u-mb-8 {
  margin-bottom: 128px;
}

.u-mb-9 {
  margin-bottom: 144px;
}

.u-mb-10 {
  margin-bottom: 160px;
}

.u-ml-0 {
  margin-left: 0px;
}

.u-ml-1 {
  margin-left: 16px;
}

.u-ml-2 {
  margin-left: 32px;
}

.u-ml-3 {
  margin-left: 48px;
}

.u-ml-4 {
  margin-left: 64px;
}

.u-ml-5 {
  margin-left: 80px;
}

.u-ml-6 {
  margin-left: 96px;
}

.u-ml-7 {
  margin-left: 112px;
}

.u-ml-8 {
  margin-left: 128px;
}

.u-ml-9 {
  margin-left: 144px;
}

.u-ml-10 {
  margin-left: 160px;
}

.u-mr-0 {
  margin-right: 0px;
}

.u-mr-1 {
  margin-right: 16px;
}

.u-mr-2 {
  margin-right: 32px;
}

.u-mr-3 {
  margin-right: 48px;
}

.u-mr-4 {
  margin-right: 64px;
}

.u-mr-5 {
  margin-right: 80px;
}

.u-mr-6 {
  margin-right: 96px;
}

.u-mr-7 {
  margin-right: 112px;
}

.u-mr-8 {
  margin-right: 128px;
}

.u-mr-9 {
  margin-right: 144px;
}

.u-mr-10 {
  margin-right: 160px;
}