@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 a {
  color: red;
}

button {
  color: red;
}

.l-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  max-width: 77.5rem;
  width: 100%;
}

.l-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

/*
 Grid - Responsive sizes
*/
.l-col-1 {
  width: 8.3333333333%;
}

.l-col-2 {
  width: 16.6666666667%;
}

.l-col-3 {
  width: 25%;
}

.l-col-4 {
  width: 33.3333333333%;
}

.l-col-5 {
  width: 41.6666666667%;
}

.l-col-6 {
  width: 50%;
}

.l-col-7 {
  width: 58.3333333333%;
}

.l-col-8 {
  width: 66.6666666667%;
}

.l-col-9 {
  width: 75%;
}

.l-col-10 {
  width: 83.3333333333%;
}

.l-col-11 {
  width: 91.6666666667%;
}

.l-col-12 {
  width: 100%;
}

.l-col-offset-1 {
  margin-left: 8.3333333333%;
}

.l-col-offset-2 {
  margin-left: 16.6666666667%;
}

.l-col-offset-3 {
  margin-left: 25%;
}

.l-col-offset-4 {
  margin-left: 33.3333333333%;
}

.l-col-offset-5 {
  margin-left: 41.6666666667%;
}

.l-col-offset-6 {
  margin-left: 50%;
}

.l-col-offset-7 {
  margin-left: 58.3333333333%;
}

.l-col-offset-8 {
  margin-left: 66.6666666667%;
}

.l-col-offset-9 {
  margin-left: 75%;
}

.l-col-offset-10 {
  margin-left: 83.3333333333%;
}

.l-col-offset-11 {
  margin-left: 91.6666666667%;
}

.l-col-offset-12 {
  margin-left: 100%;
}

@media (min-width: 1400px) {
  xxl.l-col-1 {
    width: 8.3333333333%;
  }
  xxl.l-col-2 {
    width: 16.6666666667%;
  }
  xxl.l-col-3 {
    width: 25%;
  }
  xxl.l-col-4 {
    width: 33.3333333333%;
  }
  xxl.l-col-5 {
    width: 41.6666666667%;
  }
  xxl.l-col-6 {
    width: 50%;
  }
  xxl.l-col-7 {
    width: 58.3333333333%;
  }
  xxl.l-col-8 {
    width: 66.6666666667%;
  }
  xxl.l-col-9 {
    width: 75%;
  }
  xxl.l-col-10 {
    width: 83.3333333333%;
  }
  xxl.l-col-11 {
    width: 91.6666666667%;
  }
  xxl.l-col-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  xl.l-col-1 {
    width: 8.3333333333%;
  }
  xl.l-col-2 {
    width: 16.6666666667%;
  }
  xl.l-col-3 {
    width: 25%;
  }
  xl.l-col-4 {
    width: 33.3333333333%;
  }
  xl.l-col-5 {
    width: 41.6666666667%;
  }
  xl.l-col-6 {
    width: 50%;
  }
  xl.l-col-7 {
    width: 58.3333333333%;
  }
  xl.l-col-8 {
    width: 66.6666666667%;
  }
  xl.l-col-9 {
    width: 75%;
  }
  xl.l-col-10 {
    width: 83.3333333333%;
  }
  xl.l-col-11 {
    width: 91.6666666667%;
  }
  xl.l-col-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  lg.l-col-1 {
    width: 8.3333333333%;
  }
  lg.l-col-2 {
    width: 16.6666666667%;
  }
  lg.l-col-3 {
    width: 25%;
  }
  lg.l-col-4 {
    width: 33.3333333333%;
  }
  lg.l-col-5 {
    width: 41.6666666667%;
  }
  lg.l-col-6 {
    width: 50%;
  }
  lg.l-col-7 {
    width: 58.3333333333%;
  }
  lg.l-col-8 {
    width: 66.6666666667%;
  }
  lg.l-col-9 {
    width: 75%;
  }
  lg.l-col-10 {
    width: 83.3333333333%;
  }
  lg.l-col-11 {
    width: 91.6666666667%;
  }
  lg.l-col-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  md.l-col-1 {
    width: 8.3333333333%;
  }
  md.l-col-2 {
    width: 16.6666666667%;
  }
  md.l-col-3 {
    width: 25%;
  }
  md.l-col-4 {
    width: 33.3333333333%;
  }
  md.l-col-5 {
    width: 41.6666666667%;
  }
  md.l-col-6 {
    width: 50%;
  }
  md.l-col-7 {
    width: 58.3333333333%;
  }
  md.l-col-8 {
    width: 66.6666666667%;
  }
  md.l-col-9 {
    width: 75%;
  }
  md.l-col-10 {
    width: 83.3333333333%;
  }
  md.l-col-11 {
    width: 91.6666666667%;
  }
  md.l-col-12 {
    width: 100%;
  }
}
@media (min-width: 525px) {
  sm.l-col-1 {
    width: 8.3333333333%;
  }
  sm.l-col-2 {
    width: 16.6666666667%;
  }
  sm.l-col-3 {
    width: 25%;
  }
  sm.l-col-4 {
    width: 33.3333333333%;
  }
  sm.l-col-5 {
    width: 41.6666666667%;
  }
  sm.l-col-6 {
    width: 50%;
  }
  sm.l-col-7 {
    width: 58.3333333333%;
  }
  sm.l-col-8 {
    width: 66.6666666667%;
  }
  sm.l-col-9 {
    width: 75%;
  }
  sm.l-col-10 {
    width: 83.3333333333%;
  }
  sm.l-col-11 {
    width: 91.6666666667%;
  }
  sm.l-col-12 {
    width: 100%;
  }
}
@media (min-width: 320px) {
  xs.l-col-1 {
    width: 8.3333333333%;
  }
  xs.l-col-2 {
    width: 16.6666666667%;
  }
  xs.l-col-3 {
    width: 25%;
  }
  xs.l-col-4 {
    width: 33.3333333333%;
  }
  xs.l-col-5 {
    width: 41.6666666667%;
  }
  xs.l-col-6 {
    width: 50%;
  }
  xs.l-col-7 {
    width: 58.3333333333%;
  }
  xs.l-col-8 {
    width: 66.6666666667%;
  }
  xs.l-col-9 {
    width: 75%;
  }
  xs.l-col-10 {
    width: 83.3333333333%;
  }
  xs.l-col-11 {
    width: 91.6666666667%;
  }
  xs.l-col-12 {
    width: 100%;
  }
}
.c_button {
  border-radius: 3rem;
  width: 15rem;
  border: none;
  height: 4em;
}
.c_button * {
  font-weight: 300;
}
.c_button__lg {
  padding: 0.75rem;
}
.c_button__md {
  padding: 0.5rem;
}
.c_button__sm {
  padding: 0.25rem;
}
.c_button__white {
  background-color: #FFFFFF;
}
.c_button__black {
  background-color: #000;
}
.c_button__red {
  background-color: #a20000;
}
.c_button__blue {
  background-color: #243aff;
}
.c_button__grey {
  background-color: #5e5e5e;
}

.h1 {
  font-size: 64px;
  line-height: 60px;
  letter-spacing: 2%;
}

.h2 {
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 2%;
}

.h3 {
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 2%;
}

.h4 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 2%;
}

.h5 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2%;
}

.h6 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2%;
}

.p_xl {
  font-size: 22px;
  line-height: 32px;
}

.p_xl {
  font-size: 20px;
  line-height: 28px;
}

.p_md {
  font-size: 18px;
  line-height: 28px;
}

.p_sm {
  font-size: 14px;
  line-height: 20px;
}

.p_xs {
  font-size: 12px;
  line-height: 20px;
}