
@mixin btn_default {
    border-radius: 3rem;
  
    // padding: 1rem;
    border: none;
    height: 4em;
    *{
         font-weight: 300;
    }
}


.c_button{
    @include btn_default;

       //Sizes
    &__lg{
        width: 10rem;
        padding: 1rem;
      
    }

    &__md{
        width: 8rem;
        padding: 0.75rem;
    }

    &__sm{
        width: 6rem;
        padding: 0.5rem;
    }

    &__white{
        background-color: $white;
        &:hover{
            background-color:complement($white);
        }
    }

    &__black{
        background-color: $black;
        &:hover{
            background-color:complement($black);
        }
    }

    &__red{
        background-color: $red;
        &:hover{
            background-color:complement($red);
        }
    }

    &__blue{
        background-color: $blue;
        &:hover{
            background-color:complement($blue);
        }
    }

    &__grey{
        background-color: $grey;
        &:hover{
            background-color:complement($grey);
        }
    }

    &__green{
        background-color: $green;
        &:hover{
            background-color:complement($green);
        }
    }
}