$grid_columns : 12;

    @for $i from 1 through $grid_columns {
        .l-col-#{$i}{
            width: ($i * 100%) / $grid_columns;
        }
    }


    @for $i from 1 through $grid_columns {
        .l-col-offset-#{$i}{
            margin-left: ($i * 100%) / $grid_columns;
        }
    }
//Responsive Media Quries for columns
    @each  $key,$value in $breakpoints {
    
        @media (min-width:$value) {
              @for $i from 1 through $grid_columns {
                  #{$key}.l-col-#{$i}{
                      width: ($i * 100%) / $grid_columns;
                  }
              }
        }
    }