    $utilities:(
        "padding":(
            "prefix":"u-p",
            "values":(
                "0":0,
                "1":1,
                "2":2,
                "3":3,
                "4":4
                ),
            ),
            "padding-top":(
                "prefix":"u-pt",
                "values":(
                    "0":0,
                    "1":1,
                    "2":2,
                    "3":3,
                    "4":4
                    ),
            ),
            "padding-bottom":(
            "prefix":"u-pb",
            "values":(
                "0":0,
                "1":1,
                "2":2,
                "3":3,
                "4":4
                ),
            ),
                "padding-left":(
            "prefix":"u-pl",
            "values":(
                "0":0,
                "1":1,
                "2":2,
                "3":3,
                "4":4
                ),
            ),
            "padding-right":(
            "prefix":"u-pr",
            "values":(
                "0":0,
                "1":1,
                "2":2,
                "3":3,
                "4":4
                ),
            ),
            "margin":(
            "prefix":"u-m",
            "values":(
                "0":0,
                "1":1,
                "2":2,
                "3":3,
                "4":4
                ),
            ),
            "margin-top":(
            "prefix":"u-mt",
            "values":(
                "0":0,
                "1":1,
                "2":2,
                "3":3,
                "4":4
                ),
            ),
            "margin-bottom":(
            "prefix":"u-mb",
            "values":(
                "0":0,
                "1":1,
                "2":2,
                "3":3,
                "4":4
                ),
            ),
            "margin-left":(
            "prefix":"u-ml",
            "values":(
                "0":0,
                "1":1,
                "2":2,
                "3":3,
                "4":4
                ),
            ),
            "margin-right":(
            "prefix":"u-mr",
            "values":(
                "0":0,
                "1":1,
                "2":2,
            "3":3,
            "4":4
            ),
        ),
    );

@each $property,$map in $utilities{
    $prefix:map-get($map,"prefix");
    $values:map-get($map,"values");
   
   
    @each $k,$v in $values{
        .#{$prefix}-#{$k}{
            #{$property}:$v em;
        }
    }
}
